<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-03T13:49:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sarsiz/Desktop/Code Projects/iOS app/GraVol Control/GraVolControl.xcodeproj</string>
</dict>
</plist>
